services:
    php-fpm:
        build:
            context: ./docker
            dockerfile: Dockerfile
        environment:
            REDIS_URL: ${REDIS_URL}
            RABBITMQ_HOST: rabbitmq
            RABBITMQ_PORT: ${RABBITMQ_PORT:-5672}
            RABBITMQ_MANAGEMENT_PORT: ${RABBITMQ_MANAGEMENT_PORT:-5672}
        volumes:
            - .:/var/www/html
            - ./docker/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
            - ./docker/php/conf.d/error_reporting.ini:/usr/local/etc/php/conf.d/error_reporting.ini
        depends_on:
            - rabbitmq
        networks:
            - app

    nginx:
        build:
            context: ./docker
            dockerfile: ./nginx/Dockerfile
        volumes:
            - .:/var/www/html
        ports:
            - "8080:80"
        depends_on:
            - php-fpm
            - mysql-db
            - rabbitmq
        networks:
            - app

    mysql-db:
        image: mysql:9.6
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${MYSQL_DATABASE}
            MYSQL_USER: ${MYSQL_USER}
            MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        ports:
            - "3306:3306"
        command: --init-file /var/www/html/sql/init.sql
        volumes:
            - ./docker/sql:/var/www/html/sql
        networks:
            - app

    rabbitmq:
        image: rabbitmq:3-management
        container_name: rabbitmq
        ports:
            - "5672" # Только порт контейнера, без указания хостового порта
            - "15672"   # веб-менеджмент
        environment:
            RABBITMQ_PORT: 5672
            RABBITMQ_MANAGEMENT_PORT: 15672
            RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER:-guest}
            RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD:-guest}
        networks:
            - app

    redis:
        image: redis:7-alpine
        container_name: project_redis
        restart: unless-stopped
        ports:
            - "6379:6379"
        volumes:
            - redis_data:/data
        networks:
            - app

volumes:
    redis_data:

networks:
    app:
