services:
    # Это твой сервис, который будет использовать Redis
    App\Service\CacheService: ~

    Symfony\Component\Cache\Adapter\RedisAdapter:
        arguments:
            $redis: '@redis_client'  # Инжектируем клиента Redis

    redis_client:
        class: Predis\Client  # Используем Predis для работы с Redis
        arguments:
            - 'redis://redis:6379'  # Подключаемся к контейнеру Redis через Docker Compose

    # Включаем автозаполнение для всех классов в src/Controller
    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    # Включаем автоконфигурацию для всех сервисов в src
    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests}'
        autowire: true
        autoconfigure: true

    App\Service\LogFormatterService: ~

    App\Monolog\Handler\FormattedLogHandler:
        arguments:
#            $formatter: '@App\Service\LogFormatterService'
            $stream: '%kernel.logs_dir%/my_channel.log'
