{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block body %}
    <h1>Create new Order</h1>

    {{ include('orderItem/_form.html.twig') }}

    <div class="mt-3">
        <a
            href="{{ path('app_order_item_index') }}"
            class="btn btn-sm btn-secondary"
        >
            Back to list
        </a>
    </div>
{% endblock %}
