<div
    class="
        d-flex
        justify-content-between
        align-items-center
        mb-3
    "
>
    <a
        href="#" class="btn btn-danger"
        data-action="delete-selected"
    >
        - Delete selected
    </a>
    <a
        class="btn btn-primary"
        data-action="orders"
    >
        + Send several orders
    </a>
</div>
